* {
    margin: 0;
    padding: 0;
}
ul {
    background-color:#e2659f;
    list-style: square inside url('./images/icon.png');


}
 ul li {
    border: 1px solid black;
    padding: 20px;
 }

 ol {
    background-color:#4423d5;
    list-style: square inside url('./images/icon.png');
 }
 
    ol li {
     border: 1px solid black;
     padding: 20px;
   
}
    

   

